---
import FeatureItem from "./FeatureItem.astro"
import type { FeatureItemProps } from "./FeatureItem.astro"

const featuresWorkflows: FeatureItemProps[] = [
	{
		badge: "Flujo de trabajo simplificado",
		title: "Optimiza tu negocio con nuestro sistema administrativo integral",
		description:
			"Transforma la gestión de tu empresa con nuestro sistema administrativo todo en uno. Accede a una completa suite de herramientas que te ayudarán a:",
		image: "workflow2",
		isReversed: false,
		featuresList: [
			"Agilizar la gestión: automatiza tareas repetitivas, centraliza la información y mejora la toma de decisiones.",
			"Impulsar la productividad: optimiza los procesos, reduce costos y aumenta la eficiencia de tu equipo.",
			"Escalar tu negocio: cuenta con una solución flexible y escalable que se adapta a tus necesidades.",
		],
	},
	{
		badge: "Creamos tu identidad",
		title: "Desarrolla tu identidad en internet con soluciones web y mobile personalizadas",
		description:
			"Lleva tu negocio al siguiente nivel con una presencia online profesional y atractiva. Creamos webs y apps a medida que te ayudarán a:",
		image: "workflow1",
		isReversed: true,
		featuresList: [
			"Captar nuevos clientes: aumenta tu visibilidad online y atrae a más clientes potenciales.",
			"Fidelizar a tus clientes: ofrece una experiencia de usuario única y memorable.",
			"Impulsar tus ventas: convierte tu web o app en un canal de ventas efectivo.",
		],
	},
]
---

<div class="mx-auto max-w-screen-xl px-5">
	<div class="mx-auto mt-24 flex max-w-4xl flex-col items-center justify-center">
		<span
			class="rounded-full border border-primary bg-primary/10 px-3 py-1 font-display text-xs font-medium text-primary"
		>
			Funcionalidades Poderosas
		</span>
		<h2
			class="mt-4 text-balance text-center font-display text-4xl font-bold lg:text-5xl lg:tracking-tight"
		>
			<span
				class="bg-gradient-to-br from-blue-600 via-primary to-sky-400 bg-clip-text text-transparent"
				>Optimiza</span
			> tu negocio con nosotros
		</h2>
		<p class="mt-4 text-pretty text-center text-lg text-secondary-foreground">
			Desbloquea el verdadero potencial de tu negocio. Codeart te brinda las herramientas de
			sistemas administrativos y la flexibilidad de webs y apps para optimizar flujos de trabajo y
			alcanzar una productividad superior.
		</p>
	</div>
	{
		featuresWorkflows.map((feature) => (
			<FeatureItem
				badge={feature.badge}
				title={feature.title}
				description={feature.description}
				featuresList={feature.featuresList}
				image={feature.image}
				isReversed={feature.isReversed}
			/>
		))
	}
</div>

<style>
	@keyframes fadeInUp {
		from {
			opacity: 0;
			transform: translateY(200px);
		}
		to {
			opacity: 1;
			transform: translateY(0);
		}
	}
	span,
	h2,
	p {
		view-timeline-name: --title;
		view-timeline-axis: block;

		animation-timeline: --title;
		animation-name: fadeInUp;

		animation-range: entry 10% cover 40%;
		animation-fill-mode: both;
	}
</style>
